<div>
  <app-toolbar>
    <app-icon-button
      icon="format_bold"
      [isActive]="isMarkActive('bold')"
      (onMouseDown)="toggleMark('bold')"
    ></app-icon-button>
    <app-icon-button
      icon="format_italic"
      [isActive]="isMarkActive('italic')"
      (onMouseDown)="toggleMark('italic')"
    ></app-icon-button>
    <app-icon-button
      icon="format_underline"
      [isActive]="isMarkActive('underline')"
      (onMouseDown)="toggleMark('underline')"
    ></app-icon-button>
    <app-icon-button
      icon="format_code"
      [isActive]="isMarkActive('code')"
      (onMouseDown)="toggleMark('code')"
    ></app-icon-button>
    <app-icon-button
      icon="looks_one"
      [isActive]="isBlockActive('heading-one')"
      (onMouseDown)="toggleBlock('heading-one')"
    ></app-icon-button>
    <app-icon-button
      icon="looks_two"
      [isActive]="isBlockActive('heading-two')"
      (onMouseDown)="toggleBlock('heading-two')"
    ></app-icon-button>
    <app-icon-button
      icon="format_quote"
      [isActive]="isBlockActive('block-quote')"
      (onMouseDown)="toggleBlock('block-quote')"
    ></app-icon-button>
    <app-icon-button
      icon="format_list_numbered"
      [isActive]="isBlockActive('numbered-list')"
      (onMouseDown)="toggleBlock('numbered-list')"
    ></app-icon-button>
    <app-icon-button
      icon="format_list_bulleted"
      [isActive]="isBlockActive('bulleted-list')"
      (onMouseDown)="toggleBlock('bulleted-list')"
    ></app-icon-button>
  </app-toolbar>
  <div
    ns-editor
    [editor]="editor"
    [value]="initialValue"
    [nsOnKeyDown]="onKeyDown"
    [nsSelectionChange]="selectChange"
    spellCheck
    autoFocus
    placeholder="Enter some rich text..."
  ></div>
</div>
